#exportPattern("^[[:alpha:]]+")
export(EstimateGroupNetwork, InformationCriterion, covNoBessel)
importFrom("parallel", "makeCluster", "clusterExport", "parApply", "parSapply", "parLapply", "stopCluster")
importFrom("igraph", "graph.adjacency", "clusters")
importFrom("qgraph", "wi2net")
